body{
  margin:0;
}


@media (max-aspect-ratio: 7/10) {


  .JoinPage{
    
    display: flex;
    justify-content: center;
    align-items: flex-start !important;

}
  .JoinContainer{
    /* border:2px solid white; */
    /* height: 50%; */
    margin-top: 30vw !important;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.JoinContainer > img{
    width: 30vw !important;

}
.JoinContainer > h1{
    color: white;
    font-size: 6vw !important;
    width: 55vw !important;
    border-bottom: 0.6vw solid white !important;
    box-sizing: border-box;
    
    padding: 3vw !important;

}
#joinInput{
  width: 55vw !important;
  padding: 4vw !important;
  font-size: 5vw !important;
  margin: 5vw !important;
  box-sizing: border-box;
}
.joinbtn{
  width: 55vw !important;
  padding: 4vw !important;
  font-size: 5vw !important;
}

.chatContainer{
  background-color: white;
  height: 100% !important;
  width: 100% !important;
}
.header{
  height: 12% !important;
}
.header>h2{
  font-size: 5vw !important;
  margin: 8vw !important;
}
.header>a>img{
  margin: 6vw;
  transform: scale(2) !important;
}
.header>a>img:hover{
  transform: scale(3.2) !important;
}
.chatBox{
  border: 0.2vmax solid black;
  height: 80% !important;
}
.inputBox{
  height: 10% !important;
}
#chatInput{
  padding: 4vw !important;
  font-size: 4vw !important;
}
.sendbtn{
  background-color: crimson;
  color: white;
  border: none;
  width: 21%;
  font-size: 4vw !important;
  transition: all 0.3s;
  cursor: pointer;
}
.messageBox{
  /* background-color: gainsboro; */
  /* width: initial !important; */
  padding: 3vw !important;
  margin: 3vw !important;  
  border-radius: 1.5vw !important;
  font-size: 4vw !important;
}


}